.judul {
    font-weight: 400;
    font-size: 30px;
}
.judul-new {
    font-weight: 600;
    font-size: 25px;
}

.sub-judul {
    color: #6e6e7a;
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
    line-height: 25px;
    margin-bottom: 15px;
}

.sub-judul-new {
    color: #6e6e7a;
    font-weight: normal;
    font-size: 16px;
    margin-top: 20px;
    line-height: 25px;
    margin-bottom: 15px;
}
.sub-judul-list-new {
    color: #6e6e7a;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-left: 15px;
    margin-bottom: -20px;
}
.tebal {
    color: #5d5a5a;
    font-weight: 600;
    font-size: 16px;
}

.sub-judul-list {
    color: #6e6e7a;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    margin-left: 15px;
}